
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Flight</title>
</head>
<body>
    <h1>Book a Flight</h1>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red; font-size: 18px; font-weight: bold;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="id_airlines">Select Airline:</label>
        {{ form.airlines }}
        <br>
        <label for="id_planes">Select Plane:</label>
        {{ form.planes }}
        <br>
        <label for="id_seats">Select Seat:</label>
        {{ form.seats }}
        <br>
        <br>
        <label for="id_date">Date:</label>
        {{ form.date }}
        <br>
        <button type="submit">Book Now</button>
    </form>
</body>
</html>